<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\SalesRule\Model\Rule\DataProvider">
        <plugin name="vs7-promowidget-banner-data"
                type="VS7\PromoWidget\Plugin\DataProvider"
                sortOrder="1"/>
    </type>
    <type name="Magento\SalesRule\Model\Rule">
        <plugin name="vs7-promowidget-banner-save"
                type="VS7\PromoWidget\Plugin\Rule"
                sortOrder="1"/>
    </type>
    <virtualType name="VS7\PromoWidget\BannerImageUpload" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">catalog/tmp/category</argument>
            <argument name="basePath" xsi:type="string">vs7_promowidget</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="VS7\PromoWidget\Plugin\Rule">
        <arguments>
            <argument name="imageUploader" xsi:type="object">VS7\PromoWidget\BannerImageUpload</argument>
        </arguments>
    </type>
</config>
